<!doctype html>
<html lang="eu" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Admin panel</title>
</head>


<body>
<div class="container-flush body">
  <div class="row">
    <div class="col-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 p-2 bg-dark text-white ">
            <a th:text="*{admin.email}" class="font-weight-bold text-white" id="headerUsername"></a>
            <a> with roles:</a>
            <a th:text="*{admin.roles}" id="headerRoles"></a>
            <a th:href="@{/logout}" class="float-right text-secondary"> Logout </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row" style="background-color: #F8F9FA">

    <div class="col-2 left-block" style="padding-top: 25px">
      <div class="list-group border-0" id="myList" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
           href="#list-home" role="tab" aria-controls="home">Admin</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
           href="#list-profile" role="tab" aria-controls="profile">User</a>
      </div>
    </div>
    <div class="col-10 right-block"  style="padding-top: 25px; padding-left: 25px; padding-right: 50px; background-color: #F8F9FA">

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          <!-- Место дл наполнения группового списка Admin -->
          <h1>Admin panel</h1>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                 aria-controls="home" aria-selected="true">User table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                 aria-controls="profile" aria-selected="false">New User</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active border rounded-bottom" id="home" role="tabpanel"
                 aria-labelledby="home-tab">  <!-- border rounded bottom - границы, закругленные-->
              <div class="card">
                <div class="card-header"><b>All users</b></div>
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Age</th>
                      <th scope="col">Email</th>
                      <th scope="col">Role</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="users: ${allUser}">
                      <td th:text="${users.id}"/>
                      <td th:text="${users.getUsername()}"/>
                      <td th:text="${users.getLastName()}"/>
                      <td th:text="${users.age}"/>
                      <td th:text="${users.getEmail()}"/>
                      <td th:text="${users.getRoles()}"/>
                      <td>
                        <!-- Button trigger modal -->
                        <button  type="button" class="btn btn-info" data-toggle="modal"
                                data-target="#editModal" id="eBtn" th:data-bs-target="#{'#editModal'+users.id}">
                          Edit
                        </button>
                      </td>
                      <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#exampleModal">
                          Delete
                        </button>
                      </td>





                      <!-- Модальное окно -->
                      <div class="modal fade" th:id="${'editModal'+users.id}" data-backdrop="static"
                           data-keyboard="false" tabindex="-1"
                           aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <form id="editForm" th:method="PATCH" th:action="@{/admin/{id}(id=${users.id})}" th:object="${users}">
                            <div class="modal-header">
                              <h5 class="modal-title" id="staticBackdropLabel">Edit
                                user</h5>
                              <button type="button" class="close" data-dismiss="modal"
                                      aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body w-50 p-3"
                                 style="margin: auto; text-align: center">
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="ID" >ID</label>
                                <input type="text" class="form-control"
                                       id="ID" readonly name="id" th:value="${users.id}"/>
                              </div>
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="username">First
                                  name</label>
                                <input type="text" class="form-control"
                                       id="username"
                                       placeholder="first name" name="username" th:value="${users.username}"/>
                              </div>
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="lastName">Last
                                  name</label>
                                <input type="text" class="form-control"
                                       id="lastName"
                                       placeholder="last name" name="lastName" th:value="${users.lastName}"/>
                              </div>
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="Agee">Age</label>
                                <input type="number" class="form-control"
                                       id="Agee"
                                       placeholder="Age" name="age" th:value="${users.age}"/>
                              </div>
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="emaill">Email</label>
                                <input type="email" class="form-control"
                                       id="emaill"
                                       placeholder="email@mai.ru" name="email" th:value="${users.email}"/>
                              </div>
                              <label class="font-weight-bold" for="inputPassword555">Password</label>
                              <input type="password" id="inputPassword555"
                                     class="form-control"
                                     aria-describedby="passwordHelpBlock" name="password" th:value="${users.password}"/>
                              <div class="form-group">
                                <label class="font-weight-bold" for="roles">Role</label>
                                <select class="custom-select form-control" id="role" name="roles" multiple size="2">
                                </select>
                              </div>
                              <button type="button" class="btn btn-secondary"
                                      data-dismiss="modal">Close
                              </button>
                              <button type="button" id="save-user-button" class="btn btn-primary" >Edit
                              </button>
                            </div>
                            </form>
                          </div>
                        </div>
                      </div>



                      <!-- Modal -->
                      <div class="modal" id="exampleModal" tabindex="-1" role="dialog"
                           aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Delete
                                user</h5>
                              <button type="button" class="close" data-dismiss="modal"
                                      aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body w-50 p-3"
                                 style="margin: auto; text-align: center">
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="exampleFormControlInput111">ID</label>
                                <input type="email" class="form-control"
                                       id="exampleFormControlInput111"
                                       placeholder="id" readonly>
                              </div>
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="exampleFormControlInput11">First
                                  name</label>
                                <input type="email" class="form-control"
                                       id="exampleFormControlInput11"
                                       placeholder="first name" readonly>
                              </div>
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="exampleFormControlInput22">Last
                                  name</label>
                                <input type="email" class="form-control"
                                       id="exampleFormControlInput22"
                                       placeholder="last name" readonly>
                              </div>
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="exampleFormControlInput33">Age</label>
                                <input type="email" class="form-control"
                                       id="exampleFormControlInput33"
                                       placeholder="Age" readonly>
                              </div>
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="exampleFormControlInput44">Email</label>
                                <input type="email" class="form-control"
                                       id="exampleFormControlInput44"
                                       placeholder="email@mai.ru" readonly>
                              </div>
                              <label class="font-weight-bold" for="inputPassword55">Password</label>
                              <input type="password" id="inputPassword55"
                                     class="form-control"
                                     aria-describedby="passwordHelpBlock" readonly>
                              <div class="form-group">
                                <label class="font-weight-bold"
                                       for="exampleFormControlSelect11">Role</label>
                                <select class="custom-select form-control"
                                        id="exampleFormControlSelect11" multiple
                                        disabled size="2">
                                  <option>ADMIN</option>
                                  <option>USER</option>
                                </select>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary"
                                      data-dismiss="modal">Close
                              </button>
                              <button type="button" class="btn btn-danger">Delete
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>







                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="tab-pane fade border rounded-bottom" id="profile" role="tabpanel"
                 aria-labelledby="profile-tab">
              <div class="card" style="max-width: 100%;">
                <div class="card-header"><b>Add new user</b></div>
                <div class="card-body w-50 p-3" style="margin: auto; text-align: center">
                  <form th:method="POST" th:action="@{/admin}" th:object="${newUser}">
                  <div class="form-group">
                    <label class="font-weight-bold" for="username">First
                      name</label>
                    <input type="text" class="form-control" id="usernamee"
                           placeholder="first name"  th:field="*{username}"/>
                  </div>
                  <div class="form-group">
                    <label class="font-weight-bold" for="last name">Last name</label>
                    <input type="text" class="form-control" id="last name"
                           placeholder="last name" th:field="*{lastName}"/>
                  </div>
                  <div class="form-group">
                    <label class="font-weight-bold" for="age">Age</label>
                    <input type="number" class="form-control" id="age"
                           placeholder="Age" th:field="*{age}"/>
                  </div>
                  <div class="form-group">
                    <label class="font-weight-bold" for="email">Email</label>
                    <input type="email" class="form-control" id="email"
                           placeholder="email@mai.ru" th:field="*{email}"/>
                  </div>
                    <div class="form-group">
                      <label class="font-weight-bold" for="password">Password</label>
                      <input type="password" id="password" class="form-control"
                             aria-describedby="passwordHelpBlock" th:field="*{password}"/>
                    </div>
                  <div class="form-group">
                    <label class="font-weight-bold" for="roles">Role</label>
                      <select class="custom-select form-control" id="roles" name="roles" multiple size="2">
                        <option th:each="role : ${allRoles}"
                                th:value="${role.id}"
                                th:text="${role.name}"
                                th:field="*{roles}" />
                    </select>
                  </div>
                    <div class="row">
                      <button type="submit" class="btn btn-success" data-dismiss="modal"
                              style="margin: auto">Add new user
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <h1>User information page</h1>
          <div class="card">
            <div class="card-header"><b>About user</b></div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Email</th>
                  <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th>3</th>
                  <th>schahrom</th>
                  <th>Mirzoahmedov</th>
                  <th>20</th>
                  <th>schahrom1232939@gmail.com</th>
                  <th>USER</th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>